body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  width: 1000px;
  margin:auto;
}

.navbar {
  background-color: #009FFF;
  height: 50px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  &-container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  &-logo{
    width: 200px;
    color: #fff;
    font-size: 1.5rem;
  }
  &-menu {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: row;
    list-style: none;
    &__item {
      flex: 0 0 auto;
      width: auto;
    }
    &__link {
      padding: .5rem;
      color: #fff;
    }
  }
}
.form-group {
  display: flex;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.list-group {
  display: flex;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: .5rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  &-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.loader {
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #555; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  margin-top: 1rem;
}